tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
toml==0.10.1
toolz==0.11.2
tornado==6.1
torrequest==0.1.0
traitlets==5.0.5
translate-toolkit==3.3.2
Twisted==20.3.0
typing-extensions==4.1.1
tzdata==2021.5
tzlocal==4.1']
keras==2.8.0
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.1
pandas_datareader==0.10.0
scikit_learn==1.0.2
streamlit==1.7.0
